.book-list-item {
    background-color: #15212d;
    border: 1px solid #374f66;
    border-radius: 1rem;
    box-shadow: rgba(0, 0, 0, 0.6) 0px 3px 8px;
    display: flex;
    flex-direction: row;

    @media only screen and (max-width: 768px) {
        flex-direction: column;
    }

    &__cover {
        border-right: 1px solid rgba(255, 255, 255, 0.06);
        border-radius: 1.6rem 0 0 1.6rem;

        img {
            border: 2px solid rgba(255, 255, 255, 0.06);
            border-radius: 0.5rem;
            margin: 4rem;
            width: 16rem;
        }
    }

    &__text {
        padding: 2.4rem 4rem;
        padding-right: 10rem;

        &--title {
            color: #fff;
            margin: 1.6rem 0 0.5rem;
        }

        &--author {
            color: #fff;
            margin: 0;
        }

        &--note {
            white-space: pre-wrap;
        }
    }
}
