@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kreon:wght@300..700&family=Lexend:wght@100..900&display=swap');

:root {
  font-size: 10px;
}

html,
body {
  background: linear-gradient(#0c2032, #081420);
  background-repeat: no-repeat;
  color: rgb(155, 168, 199);
  font-family: 'Kreon', sans-serif;
  font-optical-sizing: auto;
  font-size: 1.4rem;
  margin: 0;
  min-height: 100vh;
}

main {
  margin: 0 auto;
  max-width: 1200px;
  padding: 0 4rem;
}

p {
  color: rgb(155, 168, 199);
  line-height: 2.2rem;
}

h1 {
  font-size: 4rem;
}

h1,
h2,
h3 {
  color: white;
  margin: 0;
}

.hidden {
  display: none !important;
}
