.search-results-item {
    border-top: 2px solid rgba(255, 255, 255, 0.06);
    display: flex;
    gap: 4rem;
    margin: 0;
    padding: 4rem;

    &__cover {
        border-radius: 1.6rem 0 0 1.6rem;

        img {
            border: 2px solid rgba(255, 255, 255, 0.06);
            border-radius: 0.5rem;
            width: 12rem;
        }
    }

    &__info {
        &--title {
            margin-top: 0;
        }

        &--description {
            display: -webkit-box;
            -webkit-line-clamp: 5;
            -webkit-box-orient: vertical;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }
}
